In [1]:
import sqlite3 as sq
import pandas as pd

In [2]:
DatabaseName="D:\\M.Sc.IT\\Sem 1\\RIC\\Practicals\\RIC-Pracitcal_Data\\Practical-01\\Vermeulen.db"
conn =sq.connect(DatabaseName)

In [3]:
FileName='D:\\M.Sc.IT\\Sem 1\\RIC\\Practicals\\RIC-Pracitcal_Data\\Practical-01\\Retrieve_IP_DATA.csv'
print('Loading :',FileName)

Loading : D:\M.Sc.IT\Sem 1\RIC\Practicals\RIC-Pracitcal_Data\Practical-01\Retrieve_IP_DATA.csv

In [5]:
IP_DATA_ALL_FIX=pd.read_csv(FileName,header=0,low_memory=False)
IP_DATA_ALL_FIX.index.names = ['RowIDCSV']
IP_DATA_ALL_FIX

,RowID,Unnamed:.0,X1,ID,Country,Place.Name,Post.Code,Latitude,Longitude,First.IP.Number,Last.IP.Number
RowIDCSV,,,,,,,,,,,
0,0,1,1.0,1.0,BW,Gaborone,NaN,-24.6464,25.9119,6.927811e+08,6.927816e+08
1,1,2,2.0,2.0,BW,Gaborone,NaN,-24.6464,25.9119,6.927818e+08,6.927831e+08
2,2,3,3.0,3.0,BW,Gaborone,NaN,-24.6464,25.9119,6.929091e+08,6.929093e+08
3,3,4,4.0,4.0,BW,Gaborone,NaN,-24.6464,25.9119,6.929096e+08,6.929101e+08
4,4,5,5.0,5.0,BW,Gaborone,NaN,-24.6464,25.9119,6.930514e+08,6.930524e+08
...,...,...,...,...,...,...,...,...,...,...,...
1247497,1247497,1247498,1247498.0,1247498.0,CA,Mississauga,NaN,43.5924,-79.7611,1.068158e+09,1.068158e+09
1247498,1247498,1247499,1247499.0,1247499.0,DE,Frankfurt,NaN,50.1327,8.7668,1.334410e+09,1.334410e+09
1247499,1247499,1247500,1247500.0,1247500.0,RU,Pyatigorskiy,NaN,43.9742,43.2583,1.596887e+09,1.596887e+09
1247500,1247500,1247501,1247501.0,1247501.0,CA,Kitchener,NaN,43.4182,-80.4451,1.742190e+09,1.742191e+09
1247501,1247501,1247502,1247502.0,1247502.0,JP,Tokyo,NaN,35.6116,139.5357,1.905783e+09,1.905783e+09

In [6]:
Table='IP_DATA_ALL'
print('Storing :',DatabaseName,' Table:',Table)

Storing : D:\M.Sc.IT\Sem 1\RIC\Practicals\RIC-Pracitcal_Data\Practical-01\Vermeulen.db  Table: IP_DATA_ALL

In [7]:
IP_DATA_ALL_FIX.to_sql(Table, conn,if_exists="replace")
print('Loading :',DatabaseName,'Table:',Table)

Loading : D:\M.Sc.IT\Sem 1\RIC\Practicals\RIC-Pracitcal_Data\Practical-01\Vermeulen.db Table: IP_DATA_ALL

In [8]:
TestData=pd.read_sql_query("select *from IP_DATA_ALL;", conn)
print('################')
print('## Data Values')
print('################')
print(TestData)
print('################')
print('## Data Profile')
print('################')
print('Rows:',TestData.shape[0])
print('Columns:',TestData.shape[1])
print('################')
print('### Done!! ############################################')

################
## Data Values
################
         RowIDCSV    RowID  Unnamed:.0         X1         ID Country  \
0               0        0           1        1.0        1.0      BW
1               1        1           2        2.0        2.0      BW
2               2        2           3        3.0        3.0      BW
3               3        3           4        4.0        4.0      BW
4               4        4           5        5.0        5.0      BW
...           ...      ...         ...        ...        ...     ...
1247497   1247497  1247497     1247498  1247498.0  1247498.0      CA
1247498   1247498  1247498     1247499  1247499.0  1247499.0      DE
1247499   1247499  1247499     1247500  1247500.0  1247500.0      RU
1247500   1247500  1247500     1247501  1247501.0  1247501.0      CA
1247501   1247501  1247501     1247502  1247502.0  1247502.0      JP

           Place.Name  Post.Code  Latitude  Longitude  First.IP.Number  \
0            Gaborone        NaN  -24.6464    25.9119     6.927811e+08
1            Gaborone        NaN  -24.6464    25.9119     6.927818e+08
2            Gaborone        NaN  -24.6464    25.9119     6.929091e+08
3            Gaborone        NaN  -24.6464    25.9119     6.929096e+08
4            Gaborone        NaN  -24.6464    25.9119     6.930514e+08
...               ...        ...       ...        ...              ...
1247497   Mississauga        NaN   43.5924   -79.7611     1.068158e+09
1247498     Frankfurt        NaN   50.1327     8.7668     1.334410e+09
1247499  Pyatigorskiy        NaN   43.9742    43.2583     1.596887e+09
1247500     Kitchener        NaN   43.4182   -80.4451     1.742190e+09
1247501         Tokyo        NaN   35.6116   139.5357     1.905783e+09

         Last.IP.Number
0          6.927816e+08
1          6.927831e+08
2          6.929093e+08
3          6.929101e+08
4          6.930524e+08
...                 ...
1247497    1.068158e+09
1247498    1.334410e+09
1247499    1.596887e+09
1247500    1.742191e+09
1247501    1.905783e+09

[1247502 rows x 12 columns]
################
## Data Profile
################
Rows: 1247502
Columns: 12
################
### Done!! ############################################