In [1]:
import sqlite3 as sq
import pandas as pd

In [5]:
InputFileName = 'Retrieve_IP_DATA.csv'
InputFileDir = 'C:/VKHCG/04-Clark/01-Retrieve'
OutputFileName = 'uvermeulen.db'
OutputFileDir = 'C:/VKHCG/04-Clark/01-Retrieve'
sFileName = InputFileDir + '/' + InputFileName
print(sFileName)
sDatabaseName= OutputFileDir + '/' + OutputFileName
print(sDatabaseName)
conn = sq.connect(sDatabaseName)

C:/VKHCG/04-Clark/01-Retrieve/Retrieve_IP_DATA.csv
C:/VKHCG/04-Clark/01-Retrieve/uvermeulen.db

In [6]:
IP_DATA_ALL_FIX=pd.read_csv(sFileName,header=0,low_memory=False)
IP_DATA_ALL_FIX.head()

,RowID,Unnamed:.0,X1,ID,Country,Place.Name,Post.Code,Latitude,Longitude,First.IP.Number,Last.IP.Number
0,0,1,1.0,1.0,BW,Gaborone,NaN,-24.6464,25.9119,692781056.0,692781567.0
1,1,2,2.0,2.0,BW,Gaborone,NaN,-24.6464,25.9119,692781824.0,692783103.0
2,2,3,3.0,3.0,BW,Gaborone,NaN,-24.6464,25.9119,692909056.0,692909311.0
3,3,4,4.0,4.0,BW,Gaborone,NaN,-24.6464,25.9119,692909568.0,692910079.0
4,4,5,5.0,5.0,BW,Gaborone,NaN,-24.6464,25.9119,693051392.0,693052415.0

In [7]:
IP_DATA_ALL_FIX.shape

(1247502, 11)

In [8]:
IP_DATA_ALL_FIX.index.names = ['RowIDCSV']
IP_DATA_ALL_FIX.head()

,RowID,Unnamed:.0,X1,ID,Country,Place.Name,Post.Code,Latitude,Longitude,First.IP.Number,Last.IP.Number
RowIDCSV,,,,,,,,,,,
0,0,1,1.0,1.0,BW,Gaborone,NaN,-24.6464,25.9119,692781056.0,692781567.0
1,1,2,2.0,2.0,BW,Gaborone,NaN,-24.6464,25.9119,692781824.0,692783103.0
2,2,3,3.0,3.0,BW,Gaborone,NaN,-24.6464,25.9119,692909056.0,692909311.0
3,3,4,4.0,4.0,BW,Gaborone,NaN,-24.6464,25.9119,692909568.0,692910079.0
4,4,5,5.0,5.0,BW,Gaborone,NaN,-24.6464,25.9119,693051392.0,693052415.0

In [9]:
sTable='IP_DATA_ALL'
print('Storing into :',sDatabaseName,' Table:',sTable)

Storing into : C:/VKHCG/04-Clark/01-Retrieve/uvermeulen.db  Table: IP_DATA_ALL

In [10]:
IP_DATA_ALL_FIX.to_sql(sTable, conn, if_exists="replace")
print('Loading into:',sDatabaseName,' Table:',sTable)
TestData=pd.read_sql_query("select * from IP_DATA_ALL;", conn)

Loading into: C:/VKHCG/04-Clark/01-Retrieve/uvermeulen.db  Table: IP_DATA_ALL

In [11]:
TestData.shape

(1247502, 12)

In [14]:
print('## Data Values')
print('################')
print(TestData)
print('################')
print('## Data Profile')
print('################')
print('Rows :',TestData.shape[0])
print('Columns :',TestData.shape[1])
print('################')
print('### Done!! ############################################')

## Data Values
################
         RowIDCSV    RowID  Unnamed:.0         X1         ID Country  \
0               0        0           1        1.0        1.0      BW
1               1        1           2        2.0        2.0      BW
2               2        2           3        3.0        3.0      BW
3               3        3           4        4.0        4.0      BW
4               4        4           5        5.0        5.0      BW
5               5        5           6        6.0        6.0      BW
6               6        6           7        7.0        7.0      BW
7               7        7           8        8.0        8.0      BW
8               8        8           9        9.0        9.0      BW
9               9        9          10       10.0       10.0      BW
10             10       10          11       11.0       11.0      BW
11             11       11          12       12.0       12.0      BW
12             12       12          13       13.0       13.0      BW
13             13       13          14       14.0       14.0      BW
14             14       14          15       15.0       15.0      BW
15             15       15          16       16.0       16.0      NE
16             16       16          17       17.0       17.0      NE
17             17       17          18       18.0       18.0      NE
18             18       18          19       19.0       19.0      NE
19             19       19          20       20.0       20.0      NE
20             20       20          21       21.0       21.0      NE
21             21       21          22       22.0       22.0      NE
22             22       22          23       23.0       23.0      MZ
23             23       23          24       24.0       24.0      MZ
24             24       24          25       25.0       25.0      MZ
25             25       25          26       26.0       26.0      MZ
26             26       26          27       27.0       27.0      MZ
27             27       27          28       28.0       28.0      MZ
28             28       28          29       29.0       29.0      MZ
29             29       29          30       30.0       30.0      MZ
...           ...      ...         ...        ...        ...     ...
1247472   1247472  1247472     1247473  1247473.0  1247473.0      PT
1247473   1247473  1247473     1247474  1247474.0  1247474.0      PL
1247474   1247474  1247474     1247475  1247475.0  1247475.0      ES
1247475   1247475  1247475     1247476  1247476.0  1247476.0      PT
1247476   1247476  1247476     1247477  1247477.0  1247477.0      PT
1247477   1247477  1247477     1247478  1247478.0  1247478.0      PT
1247478   1247478  1247478     1247479  1247479.0  1247479.0      PT
1247479   1247479  1247479     1247480  1247480.0  1247480.0      PT
1247480   1247480  1247480     1247481  1247481.0  1247481.0      PT
1247481   1247481  1247481     1247482  1247482.0  1247482.0      PT
1247482   1247482  1247482     1247483  1247483.0  1247483.0      PT
1247483   1247483  1247483     1247484  1247484.0  1247484.0      SE
1247484   1247484  1247484     1247485  1247485.0  1247485.0      PL
1247485   1247485  1247485     1247486  1247486.0  1247486.0      PL
1247486   1247486  1247486     1247487  1247487.0  1247487.0      NL
1247487   1247487  1247487     1247488  1247488.0  1247488.0      NL
1247488   1247488  1247488     1247489  1247489.0  1247489.0      NL
1247489   1247489  1247489     1247490  1247490.0  1247490.0      DE
1247490   1247490  1247490     1247491  1247491.0  1247491.0      DE
1247491   1247491  1247491     1247492  1247492.0  1247492.0      PT
1247492   1247492  1247492     1247493  1247493.0  1247493.0      ES
1247493   1247493  1247493     1247494  1247494.0  1247494.0      IN
1247494   1247494  1247494     1247495  1247495.0  1247495.0      RU
1247495   1247495  1247495     1247496  1247496.0  1247496.0      CA
1247496   1247496  1247496     1247497  1247497.0  1247497.0      CA
1247497   1247497  1247497     1247498  1247498.0  1247498.0      CA
1247498   1247498  1247498     1247499  1247499.0  1247499.0      DE
1247499   1247499  1247499     1247500  1247500.0  1247500.0      RU
1247500   1247500  1247500     1247501  1247501.0  1247501.0      CA
1247501   1247501  1247501     1247502  1247502.0  1247502.0      JP

                  Place.Name  Post.Code  Latitude  Longitude  First.IP.Number  \
0                   Gaborone        NaN  -24.6464    25.9119     6.927811e+08
1                   Gaborone        NaN  -24.6464    25.9119     6.927818e+08
2                   Gaborone        NaN  -24.6464    25.9119     6.929091e+08
3                   Gaborone        NaN  -24.6464    25.9119     6.929096e+08
4                   Gaborone        NaN  -24.6464    25.9119     6.930514e+08
5                   Gaborone        NaN  -24.6464    25.9119     6.930783e+08
6                   Gaborone        NaN  -24.6464    25.9119     6.936084e+08
7                   Gaborone        NaN  -24.6464    25.9119     6.969298e+08
8                   Gaborone        NaN  -24.6464    25.9119     7.004388e+08
9                   Gaborone        NaN  -24.6464    25.9119     7.020759e+08
10                  Gaborone        NaN  -24.6464    25.9119     7.024988e+08
11                  Gaborone        NaN  -24.6464    25.9119     7.025162e+08
12                  Gaborone        NaN  -24.6464    25.9119     7.741627e+08
13                  Gaborone        NaN  -24.6464    25.9119     1.401887e+09
14                  Gaborone        NaN  -24.6464    25.9119     1.754209e+09
15                    Niamey        NaN   13.5167     2.1167     6.969185e+08
16                    Niamey        NaN   13.5167     2.1167     6.969221e+08
17                    Niamey        NaN   13.5167     2.1167     7.012035e+08
18                    Niamey        NaN   13.5167     2.1167     7.588869e+08
19                    Niamey        NaN   13.5167     2.1167     1.347294e+09
20                    Niamey        NaN   13.5167     2.1167     1.755108e+09
21                    Niamey        NaN   13.5167     2.1167     1.755828e+09
22                    Maputo        NaN  -25.9653    32.5892     6.928835e+08
23                    Maputo        NaN  -25.9653    32.5892     6.929449e+08
24                    Maputo        NaN  -25.9653    32.5892     6.969672e+08
25                    Maputo        NaN  -25.9653    32.5892     7.003587e+08
26                    Maputo        NaN  -25.9653    32.5892     7.022930e+08
27                    Maputo        NaN  -25.9653    32.5892     7.023247e+08
28                    Maputo        NaN  -25.9653    32.5892     7.023660e+08
29                    Maputo        NaN  -25.9653    32.5892     7.025193e+08
...                      ...        ...       ...        ...              ...
1247472                Souto        NaN   40.9867    -8.6223     1.507262e+09
1247473             Augustow        NaN   53.8447    22.9801     1.541756e+09
1247474             Iturrama        NaN   42.8085    -1.6583     1.547184e+09
1247475               Alfama        NaN   38.7000    -9.1167     1.567024e+09
1247476                Praia        NaN   40.1621    -8.8697     1.567362e+09
1247477              Moreira        NaN   41.0560    -8.3894     1.567366e+09
1247478        Imagin<e1>rio        NaN   39.4024    -9.1039     1.567412e+09
1247479        Imagin<e1>rio        NaN   39.4024    -9.1039     1.567413e+09
1247480     S<e3>o Silvestre        NaN   40.2309    -8.5240     1.600086e+09
1247481       S<e3>o Torcato        NaN   41.4831    -8.2547     1.832067e+09
1247482          Santo Tirso        NaN   41.4883    -8.3048     1.832075e+09
1247483            Norrtelje        NaN   59.7667    18.7000     1.546295e+09
1247484             Varsovie        NaN   52.2500    21.0000     5.323728e+08
1247485             Varsovie        NaN   52.2500    21.0000     1.495168e+09
1247486            Amsterdam        NaN   52.2964     4.9541     1.317686e+09
1247487            Amsterdam        NaN   52.2964     4.9541     1.406964e+09
1247488            Amsterdam        NaN   52.2964     4.9541     1.467466e+09
1247489  Nordrhein-westfalen        NaN   51.2189     6.7634     1.530865e+09
1247490  Nordrhein-westfalen        NaN   51.2189     6.7634     1.530865e+09
1247491             Lissabon        NaN   38.7167    -9.1333     1.534716e+09
1247492               Madrid        NaN   40.4820    -3.3600     8.722863e+08
1247493          Savarkundla        NaN   21.3373    71.3035     1.856805e+09
1247494           Zelenograd        NaN   56.0011    37.2092     5.298452e+08
1247495          Mississauga        NaN   43.5924   -79.7611     1.068158e+09
1247496          Mississauga        NaN   43.5924   -79.7611     1.068158e+09
1247497          Mississauga        NaN   43.5924   -79.7611     1.068158e+09
1247498            Frankfurt        NaN   50.1327     8.7668     1.334410e+09
1247499         Pyatigorskiy        NaN   43.9742    43.2583     1.596887e+09
1247500            Kitchener        NaN   43.4182   -80.4451     1.742190e+09
1247501                Tokyo        NaN   35.6116   139.5357     1.905783e+09

         Last.IP.Number
0          6.927816e+08
1          6.927831e+08
2          6.929093e+08
3          6.929101e+08
4          6.930524e+08
5          6.930785e+08
6          6.936166e+08
7          6.969300e+08
8          7.004390e+08
9          7.020769e+08
10         7.024998e+08
11         7.025172e+08
12         7.741627e+08
13         1.401888e+09
14         1.754209e+09
15         6.969190e+08
16         6.969242e+08
17         7.012037e+08
18         7.588872e+08
19         1.347294e+09
20         1.755108e+09
21         1.755829e+09
22         6.928840e+08
23         6.929469e+08
24         6.969713e+08
25         7.003610e+08
26         7.022940e+08
27         7.023288e+08
28         7.023667e+08
29         7.025196e+08
...                 ...
1247472    1.507262e+09
1247473    1.541757e+09
1247474    1.547186e+09
1247475    1.567025e+09
1247476    1.567362e+09
1247477    1.567366e+09
1247478    1.567412e+09
1247479    1.567413e+09
1247480    1.600087e+09
1247481    1.832068e+09
1247482    1.832076e+09
1247483    1.546297e+09
1247484    5.323728e+08
1247485    1.495168e+09
1247486    1.317687e+09
1247487    1.406965e+09
1247488    1.467467e+09
1247489    1.530865e+09
1247490    1.530865e+09
1247491    1.534716e+09
1247492    8.722863e+08
1247493    1.856805e+09
1247494    5.298455e+08
1247495    1.068158e+09
1247496    1.068158e+09
1247497    1.068158e+09
1247498    1.334410e+09
1247499    1.596887e+09
1247500    1.742191e+09
1247501    1.905783e+09

[1247502 rows x 12 columns]
################
## Data Profile
################
Rows : 1247502
Columns : 12
################
### Done!! ############################################